<% present @user do |user_presenter|%>
  <div id="profile">
    <%= user_presenter.avatar %>
    <h1><%= user_presenter.username %></h1>
    <dl>
      <dt>Name:</dt>
      <dd><%= user_presenter.full_name %></dd>
      <dt>Age:</dt>
      <dd><%= user_presenter.age %></dd>
      <dt>Location:</dt>
      <dd><%= user_presenter.address %></dd>
      <dt>About Me:</dt>
      <dd><%= user_presenter.bio%></dd>
    </dl>
  </div>

  <%= labeled_form_for @user do |f| %>
    <h2>Tasks</h2>
    <%= f.fields_for :user_missions do |user_mission_builder| %>
      <%= render 'user_mission_fields', f: user_mission_builder %>
    <% end %>
    <%= link_to_add_fields "Add Task", f, :user_missions %>
    <%= f.submit "Save Tasks" %>
  <% end %>

  <%= labeled_form_for @user do |f| %>
    <h2>User Ratings</h2>
    <%= f.fields_for :user_skill_ratings do |user_skill_rating_builder| %>
      <% debugger %>
      <%= render 'user_skill_rating_fields', f: user_skill_rating_builder %>
    <% end %>
    <%= link_to_add_fields "Add User Skill Rating", f, :user_skill_ratings %>
    <%= f.submit "Save User Skill Rating" %>
  <% end %>

  <h2>Calculated Ability Points</h2>
  <% @user.total_ability_points.sort_by {|k,v| -v}.each do |title, points| %>
    <%= title %>: <%= points %><br />
  <% end %>

<% 
=begin %>
  <%= labeled_form_for @user do |f| %>
    <h2>Added Skills</h2>
    <%= f.fields_for :user_skills do |user_skill_builder|%>
      <%= render 'user_skill_fields', f: user_skill_builder %>
    <% end %>
    <%= link_to_add_fields "Add Skill", f, :user_skills %>
    <%= f.submit"Save Skills" %>
  <% end %>
<% 
=end %>
<% end %>