<% present @user do |user_presenter|%>
  <%- model_class = User -%>
  <div class="page-header">
    <h1><%=t '.title', :default => user_presenter.username %></h1>
  </div>

  Date of birth:
  <%= @user.date_of_birth.strftime("%m/%d/%Y") if @user.date_of_birth%>
</br>
  
  <%= image_tag @user.avatar.url(:thumb) if @user.avatar? %>


  <%= labeled_form_for @user do |f| %>
    <h2>Tasks</h2>
    <%= f.fields_for :user_missions do |user_mission_builder| %>
      <%= render 'user_mission_fields', f: user_mission_builder %>
    <% end %>
    <%= link_to_add_fields "Add Task", f, :user_missions %>
    <%= f.submit "Save Tasks" %>
  <% end %>

  <h2>Calculated Ability Points</h2>
  <% @user.total_ability_points.sort_by {|k,v| -v}.each do |title, points| %>
    <%= title %>: <%= points %><br />
  <% end %>

<% 
=begin %>
  <%= labeled_form_for @user do |f| %>
    <h2>Added Skills</h2>
    <%= f.fields_for :user_skills do |user_skill_builder|%>
      <%= render 'user_skill_fields', f: user_skill_builder %>
    <% end %>
    <%= link_to_add_fields "Add Skill", f, :user_skills %>
    <%= f.submit"Save Skills" %>
  <% end %>
<% 
=end %>
<% end %>