<%= labeled_form_for @skill do |f| %>

  <%= f.text_field :title%>
  <%= f.text_area :description%>

  <h2>Sub Skills</h2>
  <%= f.fields_for :sub_embeddings do |sub_embedding_builder| %>
    <%= render 'sub_embedding_fields', f: sub_embedding_builder %>
  <% end %>
  <%= link_to_add_fields "Add Sub Skill", f, :sub_embeddings %>  

  <%= f.submit %>
<% end %>
