<%= labeled_form_for @skill do |f| %>

  <%= f.text_field :title%>
  <%= f.text_area :description%>

  <h2>Sub Skills</h2>
  <%= f.fields_for :skill_embeddings do |skill_embedding_builder| %>
    <%= render 'skills/skill_embeddings/field', f: skill_embedding_builder %>
  <% end %>
  <%= link_to_add_field "Add Sub Skill", f, :skill_embeddings %>  

  <%= f.submit %>
<% end %>
