<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @skill.title %>
</p>

<p>
  <b>Description:</b>
  <%= @skill.description %>
</p>

<%= content_tag "div", id: "skills", data: {url: skill_url(@skill.id) } do %> <% end %>

<p>
  <b>Related Missions</b>
  <div id="related_slider"> </div>

  <label for="amount"> </label>
  <input type="text", id="amount"></input>

  <ul id="level_dependent_missions_list">
    <%= render @level_dependent_missions %>
  </ul>
</p>

<p>
  <b>Direct Sub Skills:</b><br />
  <% @skill.sub_embeddings.each do |sub_embedding| %>
    <%= sub_embedding.sub_skill.title %><br />
    Weight: <%= sub_embedding.weight %><br />
  <% end %>
</p>

<p>
  <b>Ability Point Values:</b><br />
  <% @skill.ability_points.sort_by {|k,v| -v}.each do |title, points| %>
    <%= title %>: <%= points %><br />
  <% end %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
