<%= labeled_form_for @mission do |f| %>

  <%= f.text_field :title%>
  <%= f.text_area :description%>

  <h2>Mission Abilities</h2>

  <%= f.fields_for :mission_skills do |mission_skill_builder| %>
    <%= render 'missions/mission_skills/field', f: mission_skill_builder %>
  <% end %>
  <%= link_to_add_field "Add Skill", f, :mission_skills %>

  <h2>Sub Missions</h2>
  <%= f.fields_for :mission_embeddings do |mission_embedding_builder| %>
    <%= render 'missions/mission_embeddings/field', f: mission_embedding_builder %>
  <% end %>
  <%= link_to_add_field "Add Sub Mission", f, :mission_embeddings %>
  
  <%= f.submit %>
<% end %>