<%= labeled_form_for @mission do |f| %>

  <%= f.text_field :title%>
  <%= f.text_area :description%>

  <h2>Mission Abilities</h2>
  <%= f.fields_for :mission_skills do |mission_skill_builder| %>
    <%= render 'mission_skill_fields', f: mission_skill_builder %>
  <% end %>
  <%= link_to_add_fields "Add Skill", f, :mission_skills %>

  <h2>Sub Missions</h2>
  <%= f.fields_for :sub_embeddings do |sub_embedding_builder| %>
    <%= render 'sub_embedding_fields', f: sub_embedding_builder %>
  <% end %>
  <%= link_to_add_fields "Add Sub Mission", f, :sub_embeddings %>
  
  <%= f.submit %>
<% end %>