<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @mission.title %>
</p>

<p>
  <b>Description:</b>
  <%= @mission.description %>
</p>

<p>
  <b>Sub Missions:</b><br />
  <% @mission.sub_embeddings.each do |sub_embedding| %>
    <%= sub_embedding.sub_mission.title %>: <%= sub_embedding.count %><br />
  <% end %>
</p>

<p>
  <b>Ability Points:</b><br />
  <% @mission.total_ability_points.sort_by {|k,v| -v}.each do |title, points| %>
    <%= title %>: <%= points %><br />
  <% end %>
</p>

<p>
  <b>Skill Points on Mission:</b><br />
  <% @mission.skill_points.sort_by {|k,v| -v}.each do |title, points| %>
    <%= title %>: <%= points %><br />
  <% end %>
</p>

<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>
